body {
	font:14px/1.5em "Lucida Grande", Tahoma, sans-serif;
	letter-spacing:0px;
	color:#333;
	background-color:#fff;
	margin:0;
	padding:0;
}

.clearLeft {clear:left;}
.clearRight {clear:right;}
.clearBoth {clear:both;}
.hide {display:none;}

div.ybox {
	float: left;
	width: 181px;
	background: #fff9d3;
	border: 1px solid #f1d32e;
	padding: 4px;
	margin: 3px;
	text-align: center;
}

div.genericbox {
	width: 47%;
	float: left;
	background: #fff9d3;
	border: 1px solid #f1d32e;
	padding: 10px 0 10px 10px;
	margin: 3px;
}

div.genericbox ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

div.genericbox li {
	margin: 2px;
	padding: 2px;
	background: #fffade;
}

div.genericbox h3 {
	padding-top: 1px;
	margin-top: 1px;
}

div#site {
	width: 610px;
        min-height: 600px;
	margin: 30px auto 0 auto;
}

div#bottomLinks {
	margin: 10px auto 0 auto;
	width: 590px;
	padding-left: 10px;
	padding-right: 10px;
	text-align: center;
}

div#bottomLinks a {
	padding-right: 15px;
}

div#buttonContainer {
	margin: 10px auto 0 auto;
	border-top: 2px solid #ccc;
	border-bottom: 2px solid #ccc;
	height: 47px;
	background: #eee;
}

div#buttonContainer td {
	padding-left: 15px;
}

div#vertad {
	position: absolute;
	right: 50px;
	top: 220px;
	width: 150px;
}

div#header {
	background:#fff url(/images/head_gradient.gif) repeat-x top left;
	margin:0;
	padding:0;
}

div#header div#headerInner {
	margin:0;
	padding:0;
}

div#header div#headerInner div#logoContainer {}

div#header div#headerInner div#logoContainerInner {
	width:550px;
	margin:0 auto;
	padding:20px;
}

div#header div#headerInner div#logoContainer div#logo {
	float:left;
	width:200px;
}

div#header div#headerInner div#logoContainer div#logo a,
div#header div#headerInner div#logoContainer div#logo a:hover {
	border:none;
	background:none;
}

div#header div#headerInner div#logoContainer div#feed {
	float:right;
	width:300px;
	text-align:right;
	padding:10px 0 0 0;
}

div#header div#headerInner div#logoContainer div#feed input.text {
	width:60%;
}

div#header div#headerInner div#menu {
	background:#eee;
	border-top:2px solid #ccc;
	border-bottom:1px solid #ddd;
	text-align:center;
}

div#header div#headerInner div#menu table {
	width:auto;
	margin:0 auto;
}

div#header div#headerInner div#menu ul {
	display:block;
	width:100%;
	margin:0 auto;
	padding:0;
	font-size:12px;
}

div#header div#headerInner div#menu ul li {
	display:block;
	float:left;
}

div#header div#headerInner div#menu ul li a {
	display:block;
	margin:-2px 0 0 0;
	padding:5px 7px 8px 7px;
	text-decoration:none;
	color:#666 !important;
	background-color:transparent;
	border-top: 2px solid #ccc;
}

div#header div#headerInner div#menu ul li a:hover {
	display:block;
	margin:-2px 0 0 0;
	padding:5px 7px 8px 7px;
	text-decoration:none;
	color:#666;
	background: #fff9d3;
	border-top: 2px solid #f1d32e;
}

/*- spotlight -*/

div.spotlight {
	background-color: #e3f1f6;
	padding: 10px;
	clear: both;
	margin: 3px;
}

div.spotlight p {
	font-size: 11px;
	text-align: center;
	margin-bottom: 0;
}

div.spotlight h3 {
	text-align: center;
}

