.addthis_button_facebook_like {
    width:95px !important;
}

.addthis_button_tweet {
    width:90px !important;
}

.addthis_button_google_plusone {
    width:85px !important;
}

.addthis_counter {
    width:90px !important;
}